.contact {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px 0;
  width: 100%;
  height: auto;
}

.form {
  display: flex;
  justify-content: center;
}

.contact h2 {
  text-align: center;
  color: #ffffff;
}
.form label {
  display: block;
  width: 30%;
  color: white;
  font-size: 16px;
  text-align: center;
}
.form input {
  padding-left: 20px;
  border: none;
  height: 40px;
  width: 85%;
  border-radius: 5px;
  border: 1px solid #a29682;
}
.form button {
  display: block;
  margin-left: 20px;
  height: 40px;
  padding: 13px 25px;
  border-radius: 5px;
  background-color: rgb(202, 145, 80);
  color: white;
  border: none;
  font-size: 16px;
}
