body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #87b2b2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title {
  text-align: center;
  color: bisque;
}
p,h2, h3 {
  margin: 0;
  padding: 0;
}
.layout {
  padding: 30px 0;
  border: wheat solid 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 50%;
  display: block;
  margin: 0 auto;
}